<!-- <div class="row">
    <div class="jumbotron">
        <div class="col-md-6 col-xs-6 col-lg-6" style="border: 2px solid black;padding-left: 65px;">
            <div class="panel panel-info text-left">
                <div class="panel-heading">
                    <h2>{{title}}</h2>
                </div>
                <div class="panel-body">
                    <img src='{{book.author_image}}' width="300" height="300" alt="{{author}}">
                    <em class="pull-right">
                          <h3>
                       <p>Price: ${{price}}</p></h3>
<p>Rating: {{rating}} out of 5</p>
</em>

                    <h4>Short Description</h4>
                    <p>{{shortDescription}}</p>
                    <h4>Long Description</h4>
                    <p>{{longDescription}}</p>



                </div>


            </div>

        </div>
    </div>
 -->
<!--   <div class="col-md-6 col-xs-6 col-lg-6" style="border: 2px solid black;padding-left: 65px;">
        <products></products>
    </div> -->
<!-- </div>
<div class="row">
    <a href="books" class="btn btn-primary btn-lg">Hide</a>
</div> -->




<ion-view view-title="Books">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="data in booksInCategory" type="item-text-wrap" href="#/tab/categories/booksInCategory/{{allData._id}}">

                <div class="panel-heading">
                    <h2>{{title}}</h2>
                </div>
                <div class="panel-body">
                    <img src='{{data.image}}' width="300" height="300" alt="{{author}}">
                    <em class="pull-right">
                        <h3><p>Price: ${{price}}</p></h3>
                        <p>Rating: {{rating}} out of 5</p>
                    </em>

                    <h4>Short Description</h4>
                    <p>{{shortDescription}}</p>
                    <h4>Long Description</h4>
                    <p>{{longDescription}}</p>



                </div>
                <br/>

            </ion-item>
            <ionic-ratings ratingsobj='ratingsObject' index='4'></ionic-ratings>
        </ion-list>
    </ion-content>
</ion-view>
